body {
  font-family: Arial;
  text-align: center;
  background-color: lightgrey; /* Add this line */
}
h1 {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}
h2 {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
p {
  font-size: 11px;
  text-align: center;
}
img {
  width: 100%;
  height: auto;
  text-align: center;
}